@import url('https://fonts.google.com/share#how-to-use?selection.family=Courgette|Lobster|Oleo+Script:wght@400;700');


  body {
    background: #181717;
  }

  /*navbar*/
  .nav-link{
    font-family: 'Courgette';
    font-size: 100%;
    color: rgb(0, 0, 0);
  }

  .navbar-brand{
    font-family: 'Courgette';
    font-size: 110%;
  }

  /*cardStar*/
  
  .cardStar{
    width: 60%;
    background-color:transparent ;
    border: none;
    margin-left: 25%;
    margin-top: 5%;
    
  }

  .card-title{
    color: #d6d315;
    font-family: 'Courgette';
    font-size: 180%;
  }

  .card-text{
    margin-top: 7%;
    color:#d4cff0;
    font-size: 100%;
    
  }

  .write{
    margin-left: 70%;
    margin-top: 1%;
    margin-bottom: 10%;
    color:#d4cff0;
    font-size: 100%;
  }

  .card-email{
    font-size: 115%;
  }

  .nav-email{
    background-color:#fff;
    padding: 1%;
    border-radius: 8px;
    width: 68%;
    font-family: 'Courgette';
    margin-bottom: 3%;
    padding-left: 2%;
  }

  .span{
    color: #fff;
    font-family: 'Courgette';
    font-size: 100%;
  }

  .cursor-pointer {
    cursor: pointer;
  }

  .links{
    background-color:#fff;
    border-radius: 8px;
    width: 30%;
    font-family: 'Courgette';
    margin-left: 4%;
  }
  
  /*card-proyect*/

  .proyec-title{
    color: #d6d315;
    font-family: 'Courgette';
    text-align: center;
    margin-top: 5%;
    font-size: 200%;
  }

  .card-title-proyect{
    color: #11110f;
    font-family: 'Courgette';
    font-size: 120%;
    margin: 1%;
    font-weight: bold;
  }

  .tecnologias{
    width: 8%;
    height: 25px;
    display: flex;
    margin-left: 27%;
    margin-top: -4%;
  }

  .tecnologia{
    margin: 1%;
  }

  .card {
    width:90%;
    height: 400px;
    background-color: #d4cff0; 
  }

  .card-descripcion{
    color: #000000;
    font-size: 80%;
    
  }

  .card-link{
    font-size: 70%;
  }

  /*carrusel*/
  .swiper {
    width: 70%;
    height: 450px;
  }
  
  .swiper-slide {
    text-align: center;
    background: #f4f3f7;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2%;
  }
  
  .swiper-slide img {
    width: 100%;
    height: 100%;
  }

  /*aboutMe*/

  .fotoNevado{
    width: 65%;
    height: 90%;
    margin-left: 25%;
    margin-top: 9%;
  }

  .aboutMe{
    width: 70%;
    height: 300px;
    padding: 1%;
    margin-left: 15%;
    margin-top: 7%;
    margin-bottom: 7%;
    background-color: #d4cff0;
  }

  .card-title-aboutme{
    font-family: 'Courgette';
    font-size: 200%;
    margin-bottom: 8%; 
  }

  .about-text{
    font-size: 100%; 
    font-family: 'Courgette';
  }
  
  /*navbar-footer*/

  .footter{
    height: 100%;
    width: 100%;
  }

  .navbar-footer{
    font-family: 'Courgette';
    display: flex;
    justify-content: center;
    font-size: 120%; 
    margin-top: 50%;
    color: black;    
  }

  .btn{
    background-color: #d4cff0;
    margin-top: 80%;
    font-size: 150%;

  }

  .form{
    margin-left: 7%;
    font-size: 70%;
  }

  .fotter-contact{
    font-family: 'Courgette';
    margin-bottom: 10%;
    margin-top: 10%;
    font-size: 120%;
  }

  .card-email-footer{
    background-color: #d4cff0;
    padding: 2%;
    border-radius: 8px;
    font-family: 'Courgette';
    display: flex;
    justify-content: center;
    margin-top: 15%;
    font-size: 100%;
  }

  .bi-footer{
    margin-top: -27%;
  }

  .span-footer{
    color: black;
    display: flex;
    justify-content: center;
  }
  
  
  

  

